[package]
name = "discord_rust_bot"
version = "0.1.0"
authors = ["Blui42 <komododragon.eins@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serenity = { version = "0.10.9", default-features = false, features = ["client", "gateway", "rustls_backend", "model", "cache", "unstable_discord_api"] }
tokio = { version = "1.0", features = ["macros", "rt-multi-thread", "time", "signal"] }
dotenv = "0.15"
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.48"
rand = { version = "0.8.3", features = ["small_rng"] }
